guizero>=1.1.1
datetime
scapy
requests
paho-mqtt
# pillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
pathlib
crypto>=1.4.1
# base64
pillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
